
---
import Layout from '../layouts/Layout.astro'
import Navb from '../components/Navb.astro';
---

<Layout title='Conclusiones'>
  <div class="mx-auto text-center mb-4 lg:mb-8 mt-8">
    <h1 class="mb-4 text-5xl tracking-tight font-extrabold text-white"><span class="text-gradient">Conclusiones</span></h1>
  </div>
  <div class="flex justify-center">

    <Navb  />
  </div>
  <div class="py-8 px-4 mx-auto lg:py-160 lg:px-6">
    <!-- <a href="/index.astro" class="text-gray-300 bg-slate-800 hover:bg-violet-950 px-3 py-2 font-medium text-lg rounded-md" x-state-description="undefined: &quot;bg-gray-100 text-gray-700&quot;, undefined: &quot;text-gray-500 hover:text-gray-700&quot;">Volver a Inicio</a> -->
    
    <div class="flex justify-center">
      <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow  md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover  rounded-t-lg rounded-b-lg h-96 md:h-auto md:w-56 mt-6 " src="https://esdima.com/wp-content/uploads/2016/02/curso-webs-madrid.png" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <!-- <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5> -->
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Resumen de los conceptos clave del diseño gráfico aplicado a los sitios web.</p>
            
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Importancia de un diseño gráfico efectivo para el éxito de un sitio web.</p>

            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Invitación a explorar y aplicar los principios y técnicas presentados en el diseño de proyectos web.</p>

        </div>
      </a>
    </div>
  </div>
</Layout>


<style>
  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>