---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Importancia'>
  <div class="py-8 px-4 mx-auto lg:py-160 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
      <h1 class="mb-4 text-5xl tracking-tight font-extrabold text-white"><span class="text-gradient">¿Qué es el Diseño Web?</span></h1>
    </div>
  </div>
  <div class="flex justify-center">
    <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow  md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
      <img class="object-cover  rounded-t-lg rounded-b-lg h-96 md:h-auto md:w-56 mt-6 " src="https://www.codedonostia.com/wp-content/uploads/2019/11/dise%C3%B1o-pagina-web-donostia.jpg" alt="">
      <div class="flex flex-col justify-between p-4 leading-normal">
          <!-- <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5> -->
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El diseño gráfico web es una actividad que se enfoca en la creación de elementos visuales para sitios web, como imágenes, iconos, logotipos, tipografías, entre otros. El diseño gráfico web es una parte importante del diseño y desarrollo web, ya que ayuda a comunicar visualmente las ideas o historias de la marca en el sitio web de manera efectiva. Aunque el diseño web y el diseño gráfico están relacionados, son dos disciplinas diferentes. El diseño web se enfoca en la planificación, diseño, implementación y mantenimiento de sitios web, mientras que el diseño gráfico se enfoca en la creación de elementos visuales para comunicar un mensaje. Ambos trabajan juntos para crear una experiencia de usuario atractiva y efectiva en un sitio web.</p>
      </div>
    </a>
  </div>
</Layout>


<style>
  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>